@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

/* Tags */

body {
    font-family: Roboto+Condensed, sans-serif, !important;
    font-size: 18px;
    border: 0;
}

p {
   
}

a{
    text-decoration: none;
    color: white;   
}

a:hover {
    color: #00b7be;
}

a:active {
    color: #00b7be;
}

/* ID's */

#options-card {
    padding-left: 50px;
    padding-right: 50px;
}

#dolce-services {
    background-color: #316eb6;
}

/* Custom Classes */

.navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #00b7be;
}

.nav-link:hover {
    color: #00b7be !important;
}

/* .nav-active:active {
    color: #00b7be !important;  
} */

.img-max {
    max-width: 100%;
    height: auto;
}

.nav-custom {
    background-color: #316eb6;
}

.dolce-services {
    background-color: #316eb6;
}

.options-card {
    padding-left: 200px;
}

.grey-text {
    color: #6c6c6c;
}

.blue-text {
    color: #316eb6;
}

.teal-text {
    color: #00b7be;
}

.header-custom {
    background-color: #00b7be;
    padding-top: 15px;
    padding-bottom: 15px;

}

.header-logo {
    /* padding-right: 25px;
    padding-left: 25px; */
    /* margin-left: 25px; */
    /* margin-right: 25px; */
    
}

.form-privacy-text {
    font-size: smaller;
}

.footer-custom {
    background-color: #00b7be;
    font-size: medium;
    color: white;   
}

.footer-lg-text {
    font-size: 20px;
    font-weight: 500;
}

.footer-sm-text {
    font-size: small;
}

.footer-h4 {
    color: #00b7be;
}

.headline-tags {
    color: #00b7be;
}


/* Home page events section */

/* @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500); */
.blog-home2 {
  font-family: Roboto+Condensed, sans-serif, !important;
  color: #8d97ad;
  /* font-weight: 300; */
}

/* .blog-home2 h1,
.blog-home2 h2,
.blog-home2 h3,
.blog-home2 h4,
.blog-home2 h5,
.blog-home2 h6 {
  color: #3e4555;
} */

.blog-home2 .font-weight-medium {
  font-weight: 500;
}

.blog-home2 .bg-light {
  background-color: #f4f8fa !important;
}

.blog-home2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.blog-home2 .text-themecolor {
  color: #00b7be;
}

.blog-home2 h5 {
  line-height: 22px;
  font-size: 18px;
}

.blog-home2 a.link {
  color: #3e4555;
}

.blog-home2 a.link:hover {
  color: #00b7be;
}

.blog-home2 .on-hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.blog-home2 .on-hover:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.blog-home2 .date-pos {
  right: 10px;
  top: 10px;
}

.blog-home2 .date-pos span {
  font-size: 30px;
  line-height: 30px;
}
.blog-home2 .bg-info-gradiant {
    background: #00b7be;
}

/* End of Upcoming Events */